/* 
    Created on : 01-Jul-2016, 23:09:32
    Author     : Cameron
*/
body{
    margin:0px;
    font-family: Roboto, Arial, sans-serif;
}

nav{
    width:100%;
    display:block;
    height:85px;
    padding-bottom:5px;   
    padding-left:10%;
    overflow:hidden;
    /*box-shadow:0px 5px 10px rgba(0,0,0,0.12); */
}

nav img{
    height:85px;
    display:inline-block;
    float:left;
}

nav p{
    height:75px;
    line-height:75px;
    font-size:2em;
    margin:0;
    float:left;
    padding-left:10px;
}

main{
    margin-top:1em;
    padding:10px;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
/*
input[type=text], input[type=password]{
    border:none;
    border-bottom:1px solid black;
    outline:0px;
    transition: border-bottom-color 0.5s;
}

input[type=text]:focus, input[type=password]:focus{
    border-bottom-color:red;
}*/

input[type=submit], button{
    height:40px;
    border:none;
    transition:background-color 1s;
}

input[type=select]:hover, button:hover{
    background-color:red;
}

.form_row{
    width:100%;
    margin-top:2em;
    margin-bottom:2em;
    overflow:hidden;
}

.form_row p{
    float:left;
    margin:0;
}
.form_row input{
    float:right;
    min-width:180px;
    width:40%;
}

.border{
    border-bottom:1px solid rgba(200,200,200,0.6);
}

input.disabled{
    background-color: #EEE;
}

.form_row.success, .form_row.error{
    padding:5px;
    padding-left:10px;
    border-radius:5px;
}
.form_row.success{
    background-color:#76FF03;
}
.form_row.error{
    color:white;
    background-color:#FF1744;
}

textarea{
    width:100%;
    min-height:150px;
    resize:vertical;
}

.panel-left{
    float:left;
    
}

.panel-right{
    float:right;
}
@media(screen) and (max-width:799px){
    main{
        width:100%;
        margin:0;
    }
    .form_row input{
        width:auto;
    }
    .panel-left, .panel-right{
        float:none;
        width:100%;
    }
}