
main{
    margin-top:50px;
    padding:20px;
}

/* jsonlist styles for Bootstrap*/
.listnav{
    float:right;
    -webkit-user-select:none;
    user-select:none;
}

a{
    color:inherit;
}

.navbar{
    background-color:#4a1863;
}

.navbar-nav li{
    color:white;
}
.white-text{
    color:white;
}

.listnav p{
    float:left;
}
.listnav i{
    cursor:pointer;
}
