
html{
    overflow-y:scroll;
}

main{
    margin-top:50px;
    padding:20px;
}

nav{
    background-color:#4a1863;
    color:white;
}


.navbar-nav li:hover{
    background-color:red;
}

a{
    color:inherit;
}

a:hover{
    color:inherit;
}

/* jsonlist styles for Bootstrap*/
.listnav{
    float:right;
    -webkit-user-select:none;
    user-select:none;
}

.listnav p{
    float:left;
}
.listnav i{
    cursor:pointer;
}
